<header>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3 logo">
                        <a href="http://www.festivalxdentro.com/"><img src="app/img/logo.png" border="0"></a>
                      </div>
                      <div class="col-md-3 social_media_wrapper">
                        <div class="social_media">
                          <a href="http://instagram.com/festivalxdentro"><img src="app/img/instagram.png"></a>
                          <a href="http://twitter.com/festivalxdentro"><img src="app/img/twitter.png"></a>
                          <a href="http://facebook.com/festivalxdentro"><img src="app/img/facebook.png"></a>
                          <a href="http://plus.google.com/+festivalxdentro"><img src="app/img/gplus.png"></a>
                          <a href="https://www.youtube.com/channel/UCLNcsnUvEdH7CHczDap3XxA"><img src="app/img/youtube.png"></a>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <nav role="navigation">

                          <button type="button" id="togglenav" class="switch btn visible-xs">
                            <span class="sr-only">Abrir menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>

                          <ul class="pull-right" id="nav" role="menu">
                            <li><a href="#colleges">Cartel</a></li>
                            <li><a href="#preguntas">Contacto</a></li>
                            <li class="cta"><a href="#portal_venta">Comprar Entradas</a></li>
                            <li class="on" style="display:none"><a href="#" class="ctrl-mute"><img src="app/img/volume_v2_on.png"></a></li>
                            <li class="off"><a href="#" class="ctrl-mute"><img src="app/img/volume_v2_off.png"></a></li>
                            <li><a href="#" id="togglefull"><img src="app/img/fullscreen_alt-32.png"></a></li>
                          </ul>

                       </nav>
                      </div>
                    </div>
                  </div>
                </header>